
/* Your CSS Code here. */
.holder{
	display:flex;
	justify-content:center;
	align-content:center;
	justify-items:center;
	align-items:center;
	width:100vw;
	height:100vh;
}
.item-1{
	display:flex;
	text-align:center;
	align-items:center;
	width:100px;
	height:100px;
	background-color:red;
}